In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('/mnt/c/Users/bo.stevens/OneDrive - USDA/2022/NxWater Akron/Data/Sequencing/Soil key/Soil DNA extraction key.xlsx', engine='openpyxl', index_col = 0)
data = data[data['Skipping'] != 'Yes']
data = data[data['Quality'] != 'Failed']

In [8]:
data_miseq_minion_comparison = data[data['Sample date'].isin(['2021-06-15','2021-07-27','2021-09-23'])]
print(data_miseq_minion_comparison.shape)
data_miseq_minion_comparison.to_csv('../Data/Sequencing/MiSeq_MinION_Comparison/DAN_extraction_key.csv')
data_miseq_minion_comparison.head()

(103, 11)

,Sample date,Plot,ID,Weight date,Weight tech,Weight,Extraction date,Extraction tech,Quality,Notes,Skipping
Sample name,,,,,,,,,,,
2,2021-07-27,15N,225,2022-02-14,"BS, JS, SL",0.2628,2022-02-15,TG,69.8,NaN,NaN
6,2021-07-27,32N,311,2022-02-14,"BS, JS, SL",0.2496,2022-02-15,TG,20.9,NaN,NaN
15,2021-07-27,8N,121,2022-02-15,JP,0.2478,2022-02-16,BS,12.3,Microbes 0.2478,NaN
16,2021-07-27,2S,111,2022-02-15,JP,0.2470,2022-02-16,BS,11.9,Scale drifting issues,NaN
19,2021-07-27,30N,321,2022-02-15,BS,0.2434,2022-02-16,BS,25.9,NaN,NaN

In [4]:
data.head()

,Sample date,Plot,ID,Weight date,Weight tech,Weight,Extraction date,Extraction tech,Quality,Notes,Skipping
Sample name,,,,,,,,,,,
2,2021-07-27,15N,225,2022-02-14,"BS, JS, SL",0.2628,2022-02-15,TG,69.8,NaN,NaN
6,2021-07-27,32N,311,2022-02-14,"BS, JS, SL",0.2496,2022-02-15,TG,20.9,NaN,NaN
15,2021-07-27,8N,121,2022-02-15,JP,0.2478,2022-02-16,BS,12.3,Microbes 0.2478,NaN
16,2021-07-27,2S,111,2022-02-15,JP,0.2470,2022-02-16,BS,11.9,Scale drifting issues,NaN
19,2021-07-27,30N,321,2022-02-15,BS,0.2434,2022-02-16,BS,25.9,NaN,NaN

In [89]:
df = data[(data['Sample date'] == '2021-08-10')][['Plot']]
df.groupby(df.columns.tolist(),as_index=False).size()

   Plot  size
0   10N     1
1   12S     1
2   13N     1
3   13S     1
4   14S     1
5   15N     1
6   15S     1
7   20N     1
8   20S     1
9   22N     1
10  22S     1
11  23N     1
12  23S     1
13  26N     1
14  26S     1
15  28N     1
16  28S     1
17   2N     1
18   2S     1
19  30N     1
20  30S     1
21  32N     1
22  32S     1
23  35N     1
24  35S     1
25  36N     1
26  36S     1
27   3N     1
28   3S     1
29   6N     1
30   6S     1
31   8N     1
32   8S     1
33   9N     1
34   9S     1

In [81]:
data.groupby(['Sample date']).size()

Sample date
2021-06-30    34
2021-07-27    35
2021-08-10    35
2021-09-23    32
2022-02-20     2
dtype: int64

In [88]:
set(data[data['Sample date'] == '2021-07-27']['Plot']) - set(data[data['Sample date'] == '2021-08-10']['Plot'])

{'10S', '14N'}

In [57]:
list(data[data['Quality'] == 'Failed']['Plot'])

['3S', '14N', '6S', '22N', '32S', '23N', '30N', '23S', '2S', '13N', '10N']